body {
	background-image: url('assets/mindbeat-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 80px;
	font-family: 'Open Sans', sans-serif;
}
html{
	height: 100%;
	color: #fff;
}

.background {
	width: 100%;
	object-fit: contain;
	background-size: cover;
}

.logo-mindbeat {
	text-align: center;
}

.logo-mindbeat img {
	width: 77px;
	height: auto;
}

.page-title img {
	width: 236px;
	height: auto;
}

.page-title {
	text-align: center;
	padding-top: 34px;
	}

.page-description h1 {
	font-size: 34px;
	color: #fff;
	text-align: center;
	font-weight: normal;
	padding: 0 15px;
}

.wrapper-phone {
	width: 411px;
	height: auto;
	padding-bottom: 0px;
	padding-top: 180px;
	margin: 0 auto;
	}

.submit-form input {
	flex:1;
	height: 44px;
	border-radius: 3px 0 0 3px;
	border: solid 1px #fff;
	line-height: 42px;
	background:none;
	padding: 10px 15px;
	color: white;
	margin: 0px;
	font-size: 18px;
	border-right: none;

}

.submit-form button {
	border-radius: 0 3px 3px 0;
	background-color: #2097e2;
	height: 44px;
	padding: 0 60px;
	border: none;
	margin: 0px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;

}


